.custom-button {
    -fx-background-color: rgb(132, 168, 130);
    -fx-text-fill: #eceeeb;
}

.custom-button:hover {
    -fx-background-color: #658863;
}

.rounded-button {
    -fx-background-color: #DEDFDDFF;
    -fx-text-fill: #4f82a6;
    -fx-border-radius: 20px; /* Bordo arrotondato */

}

.rounded-button:hover {
    -fx-background-color: #658863;
    -fx-border-radius: 20px; /* Bordo arrotondato */

}