.custom-button {
    -fx-background-color: rgb(132, 168, 130);
    -fx-text-fill: #eceeeb;
  /*  -fx-border-radius: 15 15 15 15; */

}

.custom-button:hover {
    -fx-background-color: #658863;
   /* -fx-border-radius: 15 15 15 15; */

}

.rounded-button {
    -fx-background-color: #DEDFDDFF;
    -fx-text-fill: #4f82a6;
    -fx-border-radius: 20px; /* Bordo arrotondato */

}

.rounded-button:hover {
    -fx-background-color: #4f82a6;
    -fx-border-radius: 20px; /* Bordo arrotondato */
    -fx-text-fill: #DEDFDDFF;

}

.info-button {
    -fx-font-family: Perpetua;
    -fx-background-color: #DEDFDDFF;
    -fx-text-fill: #4f82a6;
    -fx-border-radius: 20px;
}

.info-button:hover {
    -fx-font-family: Perpetua;
    -fx-background-color: #4f82a6;
    -fx-border-radius: 20px; /* Bordo arrotondato */
    -fx-text-fill: #DEDFDDFF;

}